@page
@using Ofgem.Web.GBI.InternalPortal.UI.Services;
@model ExternalUsersModel
@{
}
<a href="javascript:history.back()" class="govuk-back-link" data-test-id="external-user-back-btn">Back</a>
<h1 class="govuk-heading-xl">External users</h1>
<button class="govuk-button" data-module="govuk-button" onclick="location.href='@ConstantsService.ExternalUserAddPage';" data-test-id="external-user-create-btn">
    Create a new user
</button>
@await Component.InvokeAsync(ConstantsService.ExternalUserListComponent)
