@page
@model Ofgem.Web.GBI.InternalPortal.UI.Pages.Errors.ForbiddenModel
@{
}

<div class="govuk-width-container ">

	<main data-test-id="failed-request-error-page-main" class="govuk-main-wrapper " id="main-content" role="main">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl">403 Forbidden</h1>
				<p class="govuk-body">You do not have permission to access the internal portal.</p>
			</div>
		</div>
	</main>
</div>